# Ignores everything by default
*

# Then, explicitly allows only the files actually needed for the project
# (so that actual lecture slides, outputs, etc. don't get tracked by Git)
!.gitignore
!generate_sheet.py
!config.json
!README.md
!input/
!output/
!input/.gitkeep
!output/.gitkeep
!slides-to-cheat-sheet-example-jasonbhalla.jpg